<mat-toolbar color="accent">
    <button mat-icon-button [matMenuTriggerFor]="menu">
         <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLinkActive="active" routerLink="/home"> 
            <mat-icon class="material-icons-round" color="accent">
                home
            </mat-icon>
            <span class="menu-font">Home</span>
        </button>

        <button mat-menu-item routerLink="/contact"> 
           <mat-icon class="material-icons-round" color="accent">
            alternate_email
            </mat-icon> 
            <span class="menu-font">Contact</span>
        </button>

        <button mat-menu-item routerLinkActive="active" routerLink="/tabledraw">
           <mat-icon class="material-icons-round" color="accent">
               collections
           </mat-icon> 
           <span class="menu-font">Gallery</span>
        </button>

    </mat-menu>
    <span class="spacing"></span>
    <span>
        <a class="link" routerLink="/home"><img src="assets/images/pata.png" alt="" height="35px" widht="35px"></a>
    </span>
</mat-toolbar>