<mat-toolbar>
    <button mat-button routerLinkActive="active" routerLink="/home"> Inicio</button>
    <button mat-button routerLinkActive="active" pageScroll pageScrollInterruptible href="#contact"> Contact</button>
    <button mat-button routerLinkActive="active" routerLink="/drawdetail"> All</button>
    <button mat-button routerLinkActive="active" routerLink="/about">About Me</button>
    <span class="spacing"></span>
    <span>
        <a routerLink="/home">Title</a>
    </span>
</mat-toolbar>