<mat-toolbar class="color-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="menu">
         <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLinkActive="active" routerLink="/home"> 
            <mat-icon class="material-icons-round">
                home
            </mat-icon>
            <span>Home</span>
        </button>

        <button mat-menu-item pageScroll pageScrollInterruptible href="#contact"> 
           <mat-icon class="material-icons-round">
            alternate_email
            </mat-icon> 
            <span>Contact</span>
        </button>

        <button mat-menu-item routerLinkActive="active" routerLink="/tabledraw">
           <mat-icon class="material-icons-round">
               collections
           </mat-icon> 
           <span>My Colletion</span>
        </button>

    </mat-menu>
    <span class="spacing"></span>
    <span>
        <a routerLink="/home">Title</a>
    </span>
</mat-toolbar>