<div class="footer color-footer" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row">
        <a href="https://www.instagram.com/conejorabioso.uwu/" class="m-1"><img src="assets/images/face.svg" alt="Instagram" height="35px" widht="35px"></a>
        <a href="https://es-es.facebook.com/people/Antonella-Muriel/100011776428166/" class="m-1"><img src="assets/images/insta.svg" alt="Facebook" height="35px" widht="35px"></a>
        <a href="https://www.furaffinity.net/search/?q=DERPnek0" class="m-1"><img src="assets/images/pawprint.svg" alt="furafinnity" height="35px" widht="35px"></a>
    </div>
    <span>&copy;Copyright 2021 | Muriel Jesús</span>

</div>