<div class="footer color-footer" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row">
        <a href="" class="m-1"><img src="assets/images/face.svg" alt="Instagram" height="35px" widht="35px"></a>
        <a href="" class="m-1"><img src="assets/images/insta.svg" alt="Facebook" height="35px" widht="35px"></a>
        <a href="" class="m-1"><img src="assets/images/pawprint.svg" alt="furafinnity" height="35px" widht="35px"></a>
    </div>
    <span>&copy; Copyright 2021 | Muriel Jesús</span>

</div>