
<div class="row no-gutter justify-content-center ">
    <div class=" col-lg-6 col-md-4 col-sm-1 mb-4 mt-4 px-0 mx-2 my-2 " >
        <div class="cardi">
            <div class="cuerpo" fxLayoutAlign="center center" fxLayout="column">
                <div class="row">
                    <div class="titulo">FIND ME</div>
                    <div>ON SOCIAL MEDIA </div>
                </div>
            </div>
            <div fxLayoutAlign="center center" fxLayout="row no-gutter" class="foter">
                <div class="borde">
                    <a href="https://es-es.facebook.com/people/Antonella-Muriel/100011776428166/" class=""><img src="assets/images/face.svg" alt="Facebook" height="70px" widht="70px"></a>
                </div>
                <div class="borde">
                    <a href="https://www.instagram.com/conejorabioso.uwu/" class=""><img src="assets/images/insta.svg" alt="Instagram" height="70px" widht="70px"></a>
                </div>
                <div class="borde">
                    <a href="https://www.furaffinity.net/search/?q=DERPnek0" class=""><img src="assets/images/pawprint.svg" alt="furafinnity" height="70px" widht="70px"></a>
                </div>
            </div>
    </div>
    </div>
</div>