@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');

/*global var */

$font:'Azeret Mono',
monospace;
$blue:#3f51b5;
$red:#f44336;

/* global var*/

html,
body {
    font-family: $font;
}

.row.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

img {
    cursor: pointer;
}