div.main-card {
    height: 400px;
    background-image: url(../src/assets/images/1.jpg);
}

div.title {
    font-size: 52px;
}
.card:hover {
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.card {
    transition: all .25s linear;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}